{% extends 'base.html.twig' %}
{% block title %} Page d'accueil !{% endblock %}

{% block body %}
<div class="container py-2">

    <h1 class="alert alert-info text-center"> PRO-WEB-DESIGNER !</h1>
    <div class="jumbotron">
        <h1>Bienvenue sur notre supper Agence de solutions digitales !</h1>
        <p class="lead">
            Nous sommes une agence de solutions digitales en plein cœur de BAMAKO dont notre siège se trouve à HAMDALLAYE ACI 2000 en face du rond-point "bougie-Bâ". Nous vous proposons nos solutions digitales dans les domaines de conception de sites internet avec les nouvelles du web. 
        </p>
        <hr class="my-4">
        <p>
        Vous êtes une entreprise PME, une startup ou une petite entreprise et que vous avez besoin d'avoir votre propre site internet qui tourne sous WordPress, PrestaShop, Joomla ou encore d'autres technologie spécifique avec un langage de programmation tel PHP, PYTHON, JAVA JAVASCRIPT, alors nous sommes là pour apporter des solution à vos soucis liés à la communication digitale.
        Pour nous contacter : +223 73 13 67 89 ou 20 20 48 48 ou encore par mail sur sackosuperagnece@.ml
        </p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
        </p>

    </div>
    <h2>Nos appartements stars</h2>
    <div class="row">
            <div class="col-md-6 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres,
                    <strong>49&euro; /nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                    <img style="height: 150px; width: 100%; display: block;" src="images/m.jpg"></img>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores
                            cum delectus ducimus id ipsum iusto laudantium libero magni modi nam optio
                            qui quis rem rerum sunt vel, veniam voluptate.
                        </p>
                        <a href="#" class="btn btn-success">Ensavoir plus</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-6 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres,
                    <strong>49&euro; /nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                    <img style="height: 150px; width: 100%; display: block;" src="images/m.jpg"></img>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores
                            cum delectus ducimus id ipsum iusto laudantium libero magni modi nam optio
                            qui quis rem rerum sunt vel, veniam voluptate.
                        </p>
                        <a href="#" class="btn btn-success">Ensavoir plus</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-6 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres,
                    <strong>49&euro; /nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                    <img style="height: 150px; width: 100%; display: block;" src="images/m.jpg"></img>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores
                            cum delectus ducimus id ipsum iusto laudantium libero magni modi nam optio
                            qui quis rem rerum sunt vel, veniam voluptate.
                        </p>
                        <a href="#" class="btn btn-success">Ensavoir plus</a>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-6 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres,
                    <strong>49&euro; /nuit</strong>
                    <br>
                    <small>Pas encore noté</small>
                    <img style="height: 150px; width: 100%; display: block;" src="images/m.jpg"></img>
                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores
                            cum delectus ducimus id ipsum iusto laudantium libero magni modi nam optio
                            qui quis rem rerum sunt vel, veniam voluptate.
                        </p>
                        <a href="#" class="btn btn-success">Ensavoir plus</a>
                    </div>
                </div>
            </div>
        </div>
      
    <h2>Nos propriétaires stars !</h2>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card border-seconday mb-3">
                <div class="card-body">
                    <h4 class="card-title">Ismaila SACKO</h4>
                    <hr>
                    <div class="card-text">
                       <img src="images/is.JPG" alt="avatar de SACKO" class="float-left mr-3" style="height: 60px; width: 60; display: block;"> 
                       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus totam nobis sit quidem recusandae nisi similique. Repellendus aliquid pariatur perferendis sint nam dignissimos! Obcaecati similique cupiditate consequuntur corrupti laborum?</p>
                       <a href="" class="btn btn-success float-right">en savoir plus</a>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card border-seconday mb-3">
                <div class="card-body">
                    <h4 class="card-title">Ismaila SACKO</h4>
                    <hr>
                    <div class="card-text">
                       <img src="images/is.JPG" alt="avatar de SACKO" class="float-left mr-3" style="height: 60px; width: 60; display: block;"> 
                       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus totam nobis sit quidem recusandae nisi similique. Repellendus aliquid pariatur perferendis sint nam dignissimos! Obcaecati similique cupiditate consequuntur corrupti laborum?</p>
                       <a href="" class="btn btn-success float-right">en savoir plus</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
