{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}
{#{% block carousel %}
    
{% endblock %}#}


{% block body %}
    <div class="container-fluid badge-dark">
        <h1 class="text-center">Nous conctacter !</h1>

      <div class="col-sm-8 col-md-6 col-lg-6 m-auto">
          {{ include('contact/_form.html.twig') }}
      </div>

        <a class="btn btn-success mb-2 mt-2" href="{{ path('home') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
